<%= show_notice_if_notice_not_nil(flash[:notice]) %>
<% if @posts.present? %>
  <div class="posts-list">
    <%= render 'loop_posts', posts: @posts %>
  </div>
  <%= render 'paginator', posts: @posts %>
<% elsif @users && params['keyword'] != '' %>
  <% if @users.present? %>
    <% @users.each do |user| %>
      <%= link_to user.name, user_post_path(user) %>
    <% end %>
  <% end %>
<% end %>
